.switch {
  position: relative;
  display: inline-block;
  width: 62px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7c7878;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 10%;
}
.slider::before {
  content: "";
  background-image: url('../img/USflag.png');
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 58%;
  height: 100%;
  transition: opacity 0.4s, background-image 0.4s, transform 0.4s;
  transition-delay: 0.05s;
}

input:checked + .slider::before {
  background-image: url('../img/BRflag.png');
  background-size: contain;
  opacity: 1;
}

input:checked + .slider {
  background-color: #7c7878;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}